<div>
  <form action="/answer"
      data-turbo="false"
      method="get"
      class="form-label">
    <input type="text" name="question"  placeholder="What you ask for?" class="form-label">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
